#gloss-index{
    background-color: transparent !important;
}

#gloss-index ul{
    margin: 0 auto;
    max-width: 77em;
    text-align: center;
}

#gloss-index li{
    list-style-type: none !important;
    float: left;
    margin: auto 0.5em;
    padding-bottom: 1em;
}

#gloss-index li a{
    display: block;
    border: 1px solid #3677b5;
    background-color: #FFF;
    padding: 0.5em;
}

#gloss-index li a:hover{
    background-color: #3677b5;
    color: #FFF;
}

.gloss-item{
    display: block;
    padding: 0.5em;
}

.gloss-item:nth-child(odd){
    background-color: #f4f4f4;
}

.gloss-item:nth-child(even){
    background-color: #ffffff;
}

.gloss{
    border: 1px solid #d2e2f2;
    margin: 10px;
}

#gloss-ic{
    background-color: #d2e2f2;
    position: absolute;
}

#sticker {
    z-index: 1;
    width: 100%;
    margin-top: -10px;
}

.seealso{
    border-top: 1px solid #3677b5;
    color: #3677b5 !important;
    padding-bottom: 20px;
}

.seealso li{
    list-style-type: none;
    float: left;
    display: block;
    margin: -5px 5px 0px 0px;    
}

.seealso li:after{
    content: " |";
}

.seealso li:last-child:after{
    content: "" !important;
}

a.abcd{
    display: block;
    position: relative;
    top: -80px;
    visibility: hidden;
}

.gloss-content{
    margin-top: 10em;
}


@media all and (max-width: 1105px) and (min-width: 579px) {
    
    a.abcd{
        top: -135px !important;
    }
    
}


@media all and (max-width: 578px) and (min-width: 407px) {
    
    a.abcd{
        top: -190px !important;
    }
    
}

@media all and (max-width: 406px) {
    
    a.abcd{
        top: -245px !important;
    }
    
}