@-viewport, @-ms-viewport{
    width: extend-to-zoom;
    zoom: 1.0;
}

h1, h2, h3, h4, h5, h6{
	margin:15px 0;
    font-weight: 700;
}

h1{
	font-size:200%;
	line-height:140%
}

h2{
	font-size:180%;
	line-height:140%
}

h3{
	font-size:160%
}

h4{
	font-size:140%
}

h5{
	font-size:120%
}

h6{
	font-size:100%
}

a{
    outline: none !important;
 }

.glossbody{
    padding-top: 0 !important;
    font-family: "Open Sans", sans-serif;
    background-color: #EDEDED;
}

#glhead{
    font-weight: 500 !important;
    text-transform: uppercase;
    text-align: center;
    margin: 0.5em 0;
    color: #2C3E4F;
    font-size: 400% !important;
    cursor: default;
    transition: -webkit-filter 2s ease;
    transition: filter 2s ease;
}

#glhead:hover{
    -webkit-filter: brightness(2);
    filter: brightness(2);
}

.gloss-content{
    transition: -webkit-filter 0.5s ease;
    transition: filter 0.5s ease;
}

.sticky-wrapper:hover + .gloss-content{
    -webkit-filter: blur(5px);
    filter: blur(5px);
}

#gltop{
    background-color: #2C3E4F;
    border-bottom: 1px solid #283847;
    color: #FFF;
    padding: 5px 5%;
    height: 60px !important;
}

#gltop button{
    margin-top: 8px;
    font-size: 105%;
    font-weight: 700;
}

#gltop img{
    float: left;
    margin-right: 5%;
    top: 0;
}

#gloss-index{
    background-color: transparent !important;
}

#gloss-index ul{
    margin: 10px auto;
    max-width: 82em;
    text-align: center;
}

#gltop ul{
    text-align: center;
    float: left;
}

#gloss-index li, #gltop li{
    list-style-type: none !important;
    float: left;
    margin: auto 0.5em;
    padding-bottom: 1em;
}

#gloss-index li a{
    display: block;
    border: 1px solid #3677b5;
    background-color: #FFF;
    padding: 0.5em;
}

#gloss-index li a:hover{
    background-color: #3677b5;
    color: #FFF;
}

#gltop li a{
    display: block;
    border: 1px solid #3677b5;
    background-color: #3677b5;
    color: #FFF;
    padding: 0.5em;
}

#gltop li a:hover{
    background-color: #FFF;
    color: #3677b5;
}

.gloss-item{
    display: block;
    padding: 0.5em;
}

.src-inner{
    padding: 0 10%;
}

.src-item{
    display: inline-block;
    vertical-align: top;
    margin: 2%;
    width: 20%;
    padding-top: 80px;
    margin-top: -80px;
    position: relative;
}

.src-item h1{
    padding: 20% 10%;
    text-align: center;
    font-size: 150% !important;
    display: block;
    width: 100%;
    color: #FFF !important;
    background-color: #3677b5;
}

.src-item:target h1{
    border: 3px solid #d2e2f2;
}

.src-item:target:after{
    content: 'Click to view.';
    font-size: 12px;
    font-family: "Open Sans", sans-serif;
    background-color: #d2e2f2;
    color: #3677b5;
    padding: 0 5px;
    position: absolute;
    margin-left: 30px;
    margin-top: -15px;
}

.src-item h1:hover{
    background-color: #538fcc;
    cursor: pointer !important;
}

.gloss-item h1{
    color: #3677b5;
}

.gloss-item:nth-child(odd){
    background-color: #eff4fa;
}

.gloss-item:nth-child(even){
    background-color: #ffffff;
}

.gloss{
    border: 1px solid #d2e2f2;
    margin: 10px 5%;
}

#gloss-ic{
    background-color: #d2e2f2;
    position: absolute;
    min-height: 1px;
    width: 100%;
    border: 1px solid #3677b5;
    float: left;
    margin: 10px 0px 20px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

#sticker{
    z-index: 100;
    width: 100%;
    margin-top: -10px;
}

.seealso{
    border-top: 1px dashed #3677b5;
    color: #3677b5 !important;
    padding-bottom: 20px;
}

.seealso ul{
    margin: 10px 0 -8px 0 !important;
    overflow: hidden;
}

.seealso li{
    list-style-type: none;
    float: left;
    display: block;
    margin: -5px 5px 0px 0px;    
}

.seealso li:after{
    content: " |";
}

.seealso li:last-child:after{
    content: "" !important;
}

a.abcd, a.tanker{
    display: block;
    position: relative;
    top: -80px;
    visibility: hidden;
}

.gloss-content{
    margin-top: 10em;
}

#footer{
    width: 100%;
    background-color: #2C3E4F;
    color: #ffffff;
    text-align: center;
    padding: 1em 0;
    margin-top: 2em;
    font-weight: 700;
}

#footer img, #footer p{
    display: inline;
}

#gindex-tab{
    display: none;
    position: absolute;
    z-index: 99;
    text-align: center;
    background-color: #3677b5;
    padding: 10px;
    border-radius: 0 0 5px 5px;
    right: 10px;
}

#gindex-tab h4{
    margin: 0;
    color: #fff;
}

#gindex-tab:hover{
    cursor: pointer !important;
}

.c-outer{
    border-left: none !important;
    border-right: none !important;
}

.c-title{
    background-color: #34495E;
    color: #FFFFFF;
    margin: 0px;
    padding: 10px;
}


@media all and (max-width: 1105px) and (min-width: 592px) {
    
    a.abcd, a.tanker{
        top: -135px !important;
    }
    
    .src-item{
        padding-top: 135px;
        margin-top: -135px;
    }
    
    .gloss-content{
        margin-top: 12em;
    }
    
    .src-inner{
        padding: 5%;
    }
}


@media all and (max-width: 980px) {
    
    .src-item{
        width: 28%;
    }
    
}

@media all and (max-width: 592px) {

    #gindex-tab{
        display: block;
        bottom: -42px;
    }
    
    #gloss-index{
        display: none;
    }
    
    #gloss-index ul{
        padding: 0 2% !important;
    }
    
    #gloss-ic{
        top: 0;
        margin-top: 0px;
        z-index: 101;
        position: fixed;
    }
    
    #sticker{
        position: relative;
    }
    
    .gloss-content{
        margin-top: 0;
    }
    
    a.tanker{
        top: -22px !important;
    }
    
    .src-item{
        padding-top: 22px;
        margin-top: -22px;
    }
    
    .gloss{
        margin: inherit;
    }
    
    .src-inner{
        padding: 0%;
    }
    
    #glhead{
        margin-top: 50px;
        margin-left: 5%;
    }
    
    #gltop{
        overflow: visible;
    }
    
    #gltop ul{
        margin: 0 auto 0 -6%;
        width: 111.5%;
        text-align: center;
        clear: both;
        float: none;
        background-color: #3677b5;
        overflow: hidden;
        height: 43px;
        padding-left: 5%;
    }
    
    .src-item{
        width: 45%;
    }
    
    .src-item:target:after{
        content: 'Tap to view.';
    }
    
}


@media all and (max-width: 592px) and (min-width: 407px) {
    
    a.abcd{
        top: -190px !important;
    }
    
}

@media all and (max-width: 406px) {
    
    a.abcd{
        top: -245px !important;
    }
    
    .src-item{
        width: 96%;
    }
    
    .src-item h1{
        padding: 10%;
    }
    
}